body{
    background-color: rgb(50,50,80);
}
#topBar{
    position: absolute;
    top:0%;
    left:0%;
    height: 15vh;
    width: 100vw;
    background-color: rgb(50,120,80);
}

#textHeader{
    position: absolute;
    height: 85vh;
    width: 15vh;
    top: 15vh;
    left:0vw;
    color:rgb(200,200,200);
}

#toolBar{
    position:absolute;
    top:50%;
    left:15%;
    width:85%;
    height:50%;
}

#title{
}

.toolButton{
    width: 20%;
    height:100%;
    background-color: rgb(50,120,80);
    color: rgb(220,220,220);
    border-style: hidden;
}
.toolButton:hover{
    border-bottom: 5px solid rgb(30,100,60);
}

#editorAria{
    position: absolute;
    top:15vh;
    left:15vw;
    width: 85vw;
    height: 85vh;
}
textarea#inputText{
    position: absolute;
    box-sizing: border-box;
    top:0%;
    left:0%;
    width:50%;
    height: 100%;
    background-color: rgb(245,245,245);
    resize:none;
    font-size:16px;
}
#markdownContent{
    position: absolute;
    box-sizing: border-box;
    top:0%;
    left:50%;
    width:50%;
    height:100%;
    background-color: rgb(255, 255, 255);
}
